<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net452" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NAudio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net452" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>