<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bblanchon.PDFium.Win32" version="109.0.5392" targetFramework="net472" />
  <package id="itext7" version="7.2.4" targetFramework="net472" />
  <package id="itext7.commons" version="7.2.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PDFtoImage" version="2.1.2" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>